vn/
target/
test-output/
*.log
*.class
*.gz
.classpath
.project
.settings/
deploy_web_war.bat
localbuild/
/.idea/
*.iml
log/
logs/
opbin/
!opbin/settings.xml
!opbin/monitor/
dump/
downstream.env
.build/
